@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 18, 18, 18;
  /* --background-end-rgb: 255, 255, 255; */
  --background-end-rgb: 18, 18, 18;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 18, 18, 18;
    --background-end-rgb: 18, 18, 18;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  /* background-image: url('../public/steam.gif');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-5xl md:text-7xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg md:text-xl mb-2 text-secondary uppercase;
}
h4 {
  @apply border-l-4 border-secondary px-2 font-bold uppercase;
}
p {
  @apply md:text-lg;
}
